.snty{
    font-size: 40px;
}
.dt{
    font-size: 50px;
}
#item:hover{
    transform: scale(1.1);
    transition: transform .8s;
    z-index: 1;
}
.top-left{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 50px;
}

@media screen and (max-width: 500px) {
    .top-left{
        left: 15%;
        top: 40%;
        font-size: 30px;
    }
    .content{
        display:none

    }
  }
  .content {
    position: relative;
  }
  
  .content h2 {
    color: #fff;
    font-size: 3em;
    position: absolute;
    transform: translate(3%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px black;
  }
  
  .content h2:nth-child(2) {
    color: #43C6DB;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  /*footer*/

  .footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover;
    
}



.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}

    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }

        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

    .first p {
        font-size: 14px;
    }

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

    .second h4::after {
        content: '';
        background: #66c83d;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }


        .third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }



    .third li {
        list-style: none;
        padding-bottom: 15px;
    }


    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }


        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}

.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}
.fas{
	color: #31b6e1;
}
 #cont .p{
	text-align:justify;
}
#exampleInputEmail1{
width: 80%;
}
#tele{
	float: right;
	margin-top: -37.5px;
}


/*contact*/


.contact{
    padding: 4%;
    height: 400px;
}
#form{
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.h1{
    text-align: center;
    color: #25274d;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:400px;
    width:400px;
    position:absolute;
  }
  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
    border: 2px solid white;
    background-color: #43c6db;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: white;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #43c6DB;
    color: white;
  }
  
  .back-to-top:hover i {
    color: #444444;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #43c6DB;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  
  /*sticky*/

  @import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
  *
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
  .sec{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f00;
    scroll-snap-align: center;

  }
  .hh2{
    font-size: 6vh;
    text-align: center;
    margin: 0 50px;
    color: green  }
    
  .p1{
    font-size: 4vh;
    text-align: justify;
    margin: 0 50px;
  }
  
  .sec:nth-child(1)
  {
    background: #43C6DB url(images/shoe/five.avif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    color: white;

  }

  .sec:nth-child(2)
  {
    background: #ffffff url(images/paints/paints.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(0, 0, 0);

  }
  .sec:nth-child(3)
  {
    background:#43C6DB url(images/bags/two.avif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(255, 255, 255);

  }
  .sec:nth-child(4)
  {
    background: white url(images/model/five.avif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
  }
  .sec:nth-child(5)
  {
    background: #43C6DB url(images/offers/seven.avif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(255, 255, 255);
  }

  /*offer*/
  .layerr{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    margin-bottom: 5%;
  }
  
  .middle {
    position: absolute;
    color: rgb(228, 228, 228);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
    color: rgb(17, 243, 17);
  }
  .middle h1{
    color:#43C6DB;
    font-size: 40px;
    padding: 10px;
  }

.contenttt{
    width: 100%;
    height: 100%;
    position: relative;
}
.contenetchild{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}
.middle span{
    color: white;
    font-size: 60px;
}
.bottomleft{
    color: white;
}
.bottomleft span{
    color: rgb(4, 255, 4);
}
.bottomleft h2{
    color:#43C6DB;
}

  
  
  
  

  
